#gameContainer{
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#cellContainer{ /* create the tic tac toe grid */
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: auto;
}

#restartButton{
    width: 100px;
    height: 50px;
    font-size: 1.5rem;
    background-color: green;
    color: white;
}

h1{
font-size: 5rem;
}

h3{
font-size: 1.5rem;
}

body{
    /* background-color: grey; */
    /* background-image: radial-gradient(red, green, blue); */
    background-image: url('/images/sea-edge.png');
    background-size: cover;
}

.cell{
    width: 100px;            /* 200px */
    height: 100px;           /* 200px */
    border: 5px solid;
    line-height: 100px;      /* 200px */
    font-size: 100px;
    cursor: pointer;
}   
.cell:first-child,              
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;           /* gets rid of the top border */
}

.cell:nth-child(3n + 1){        
    border-left: none;          /* gets rid of the left border */
}

.cell:nth-child(3n + 3){        
    border-right: none;         /* gets rid of the right border */
}
.cell:last-child,               
.cell:nth-child(8),
.cell:nth-child(7){
    border-bottom: none;        /* gets rid of the bottom border */
}

